p,div{
    color: red;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Courier New','Courier New', Courier, monospace;
}
.header{
    color: blue;
}

#head{
    text-transform: uppercase;
    margin: 100px;
    border: 2px solid red;
    padding: 10px;
}

div>p{
    color: green;
}

div+p{
    color: blue;
}

div~p{
    color:purple;
}

table{
    border:2px solid red;
}

tr:nth-child(odd){
    color:green;
}

tr:hover{
    color:blue;
}